# Gradle files
.gradle/
build/
*.apk
*.aar
*.ap_
*.aab

# Android Studio
.idea/
*.iml
*.iws
*.ipr
*.ics
.classpath
.c9/
*.swp
*~.nib
*.pbxuser
*.perspectivev3

# Local configuration file (sdk path, etc)
local.properties

# Log/OS Files
*.log
*.DS_Store

# IntelliJ IDEA
.idea/
out/

# Android Studio/IntelliJ specific strangeness
/bazel-*
user-specific stuff:
*.iml
*.ipr
*.iws

# Firebase
google-services.json

# Node
node_modules/
